:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

aside {
    height: 100vh;
    padding: 1% 0;
    background: #efffef;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    place-items: center;
}

.logo {
    grid-row: 1 / 2;
}

.nav-icons {
    grid-row: 4 / 8;
}

.auth {
    grid-row: 12 / -1;
}

.link {
    padding: 8px;
    margin: 8px;
    border-radius: 50%;
    display: flex;
    place-content: center;
    text-decoration: none;
}

.icon-styling {
    padding: 2px 0;
    font-size: 28px;
    border-radius: 50%;
    color: #2d3039;
}

.link:hover {
    /*background-color: #96c584;*/
    cursor: pointer;

}

.icon-styling:hover {
    color: #96c584;
    cursor: pointer;
}

.hero {
    height: 100vh;
}

.hero-details {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.details {
    grid-column: 2 / -1;
    grid-row: 4 / 11;
}

.bg-lime {
    background-color: #51a137;
    color: white;
}

.bg-lime-outline {
    border: 1px solid #51a137;
    color: #51a137;
}

.bg-lime-outline:hover {
    background-color: #51a137;
    color: white;
}

.bg-lime:hover {
    color: #51a137;
    border-color: #51a137;
}

.lime {
    color: #51a137;
}




