@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("../public/world-map.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.my-bg-blur {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
